<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/home/admin1/selenium/FaceBookTestWithSelenium">
        <classes>
            <class name="com.bridgelabz.facebook.pompages.CrossBrowserScript">
            </class>
            <class name="com.bridgelabz.facebook.pompages.HandleMultipleWindows">
            </class>
            <class name="com.bridgelabz.facebook.scripts.TestFaceBook">
            </class>
        </classes>
    </test>
</suite>